<mat-spinner *ngIf="isLoading"> </mat-spinner>
<div *ngIf="allBooks.length > 0 && !isLoading">
  <front-end-internship-assignment-table-view
    [booksList]="allBooks"
    [subjectName]="subjectName"
  ></front-end-internship-assignment-table-view>
  <div class="example-label">
    <div class="example-button-row">
      <button
        mat-raised-button
        routerLink=""
        class="example-button-row"
        fxLayoutAlign="center"
        fxFlex
      >
        Back
      </button>
    </div>
  </div>
</div>
